<script src="/scripts/nav.js"></script>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/lists"><i class="fas fa-check-square"></i> Listr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/lists">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <form><button type="submit" formmethod="POST" formaction="/logout" class="btn logout">Logout</button></form>
      </li>
      <li class="nav-item">
        Welcome, <%=ejsTemplate['first_name']%> <%=ejsTemplate['last_name']%>
      </li>
    </ul>
  </div>
</nav>
