<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_header %>
  <link rel="stylesheet" href="../styles/homepage.css" type="text/css" />
</head>

<body>
  <header>
    <% include ./partials/_nav %> 
    
  </header>
  <!-- add item to category -->
  <section class="search">
    <div class="container">
      <h1 id="top">Listr.</h1>
      <p class="lead">The smarter way to-do things. Later.</p>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" accept-charset="UTF-8" method="post">
          <div class="input-group">
            <input type="text" name="add" id="add" placeholder=" What to do..." class="form-control">
            <span class="input-group-btn">
              <input type="submit" name="commit" value="Add" class="btn btn-secondary" data-disable-with="Search">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row buttons">
      <div class="col-sm-12">
        <a href="https://www.w3schools.com" class="btn btn-lg btn-secondary">To Eat: <span> <%= ejsTemplate['EAT'] %> </span></a>
      </div>
      <div class="col-sm-12">
        <a href="https://www.w3schools.com" class="btn btn-lg btn-secondary">To Read: <span><%= ejsTemplate['REA'] %></span></a>
      </div>
      <div class="col-sm-12">
        <a href="/lists/toWatch" class="btn btn-lg btn-secondary"> To Watch: <span></span><%= ejsTemplate['WAT'] %></a>
      </div>
      <div class="col-sm-12">
        <a href="https://www.w3schools.com" class="btn btn-lg btn-secondary">To Buy: <span><%= ejsTemplate['BUY'] %></span></a>
      </div>
    </div>
  </div>
  </div>


</body>

</html>
