<head>
  <% include ./partials/_header %>
  <link rel="stylesheet" href="../styles/listpage.css" type="text/css" />
</head>

<body>
  <header>
    <% include ./partials/_nav %>
  </header>
  <%=JSON.stringify(ejsTemplate)%>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-container">
          <form action="" accept-charset="UTF-8" method="post">
            <div class="input-group">
              <input type="text" name="add" id="add" placeholder=" Add a Movie..." class="form-control">
              <span class="input-group-btn">
                <input type="submit" name="commit" value="Add" class="btn btn-secondary" data-disable-with="Search">
              </span>
            </div>
          </form>
          <ul class="list-group">
              <% for (var item of ejsTemplate.item){%> 
                <li class="list-group-item"><i class="fas fa-check"> </i><%= item.item_name%> <i class="fas fa-times"></i></li>
                <%}%>
          </ul>
        </div>
      </div>
      <div class="col">
        <h2>Harry Potter</h2>
        <span>132 min</span>
        <span>Rated: PG 96%</span>
        <span>RT 98%</span>
        <span>Release Date: Jan 1 1999</span>
        <div class="body">
          <p>Synopsis
            Lorem ipsum dolor amet helvet ica quinoa master
            cleanse umami. Heirloom let terpress pickled af tofu
            subway t ile keffiyeh flannel t ilde ramps man bun
            locavore seitan leggings. Salvia cornhole affogato
            port land plaid. Everyday carry selfies cred pok pok.
            Tumblr shaman prism port land quinoa sriracha
            t ry-hard bit ters pout ine fixie pickled gent rify
            post -ironic</p>
        </div>
      </div>
    </div>
  </div>
</body>
