<!-- external -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- css -->
<link rel="stylesheet" href="../public/styles/listpage.css" type="text/css" />


<body>
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="list-container">
          <header>MOVIES TO WATCH</header>
          <div>
            <form method="POST" action="" class="">
              <textarea name="text" placeholder="Add a movie"></textarea>
              <input type="submit" value="add">
            </form>
          </div>
          <h1 id="heading">Hello World!</h1>
          <ul class="list-group">
            <li class="list-group-item"><i class="fas fa-check"> </i>Star Wars<i class="fas fa-times"></i></li>
            <li class="list-group-item"><i class="fas fa-check"> </i>Air Bud<i class="fas fa-times"></i></li>
            <li class="list-group-item"><i class="fas fa-check"> </i>Toy Story<i class="fas fa-times"></i></li>
            <li class="list-group-item"><i class="fas fa-check"> </i>Little Rascals<i class="fas fa-times"></i></li>
            <li class="list-group-item"><i class="fas fa-check"> </i>Lion King<i class="fas fa-times"></i></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <h2>Harry Potter</h2>
        <span>132 min</span>
        <span>Rated: PG 96%</span>
        <span>RT 98%</span>
        <span>Release Date: Jan 1 1999</span>
        <div class="body">
          <p>Synopsis
            Lorem ipsum dolor amet helvet ica quinoa master
            cleanse umami. Heirloom let terpress pickled af tofu
            subway t ile keffiyeh flannel t ilde ramps man bun
            locavore seitan leggings. Salvia cornhole affogato
            port land plaid. Everyday carry selfies cred pok pok.
            Tumblr shaman prism port land quinoa sriracha
            t ry-hard bit ters pout ine fixie pickled gent rify
            post -ironic</p>
        </div>
      </div>
    </div>
  </div>
</body>
