<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_header %>
  <link rel="stylesheet" href="../styles/login.css" type="text/css" />
</head>
<% JSON.stringify(ejsTemplate) %>
<body>
  <header>
    <% include ./partials/_nav %>
  </header>

  <body class="text-center">
    <div class="container">
      <form class="form-signin" method="GET" action="">
        <i class="fas fa-check-square"></i>
        <h1>Login to Listr</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a href="#">Register</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
      </form>
    </div>
  </body>

</html>
