<div class="modal-container">
  <div class="modal-title">Lorem ipsum</div>
  <div class="modal-body">
    <h1>what it doski</h1>
  </div>
  <div class="modal-footer"><a href="javascript:;" class="btn btn-primary" data-fancybox-close>Close</a></div>
</div>
