<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ./partials/_header %>
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/listpage.css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <div class="container">
    <h1>Edit Profile</h1>
    <div class="container">
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form method="POST" action="/profile/<%=ejsTemplate.id%>" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="<%=ejsTemplate.first_name %>" name="firstName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="<%=ejsTemplate.last_name %>" name="lastName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="<%=ejsTemplate.email %>" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  </div>

</body>

</html>
