<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_header %>
  <link rel="stylesheet" href="../styles/profile.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <header>
    <% include ./partials/_nav %>
  </header>

  <!-- avatar  -->
  <div class="row">
    <div class="col-sm-6">
      <img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg"
        class="img-responsive" alt="">
    </div>

    <!-- user details info section -->
    <div class="col-sm-6">
      <header>Details</header>
      <a href="/profile/edit" class="button">Edit Profile</a>
      <ul class="list-group">
        <li class="list-group-item"><%=ejsTemplate.first_name %></li>
        <li class="list-group-item"><%=ejsTemplate.last_name %></li>
        <li class="list-group-item"><%=ejsTemplate.email %></li>
      </ul>
    </div>
  </div>
  </div>
  </div>

</body>

</html>
