<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_header %>
  <link rel="stylesheet" href="../styles/profile.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <header>
    <% include ./partials/_nav %>
  </header>

  <div class="container">
    <h1>Details</h1>
    <div class="row mx-auto">
      <div class="col-sm-12 ">
        <img src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/female/68.png">


        <!-- user details info section -->
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">First Name: <%=ejsTemplate.first_name %></li>
          <li class="list-group-item list-group-item-dark">Last Name: <%=ejsTemplate.last_name %></li>
          <li class="list-group-item list-group-item-dark">Email Address: <%=ejsTemplate.email %></li>
        </ul>
      </div>
      <a href="/profile/edit/" class="btn btn-secondary mx-auto">Edit Account</a>
    </div>
  </div>

</body>

</html>
