.welcome h1 {
  text-align: center;
}

.welcome p {
  text-align: center;
}

#cat-buttons {
  margin-top: 20px;
}

#cat-buttons .bouton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.multi-buttons {
  display: flex;
  margin-top: 20px;
}

.multi-buttons .didYouMean {
  margin: 0 auto;
}
