.container{
    margin:30px;
    .jumbotron{
      text-align:center;
      background-color:rgba(0,0,0,0);
      color:white;
    }
    .buttons{
      text-align:center;
      .col-sm-12{
        margin-top:10px;
      }
    }

}


