body{
  background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffd89b, #19547b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffd89b, #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment:fixed;
  height:100%;

  header{
    font-family: 'Space Mono', monospace;
    font-weight:700;
  }

}

.container{
  font-family: 'Space Mono', monospace;
}
