.container{
  margin-top:50px;
  background-color:rgba(0,0,0,0.2);
  padding: 2.5%;
  h1{
    text-align:center;
  }
}

.list-container{

  .input-group{
    #add{
      background-color:rgba(0,0,0,0.2);
      color:#fff;
    }
    ::placeholder{
      color:#fff;
    }
  }
  .list-group{
    display:none;
    .list-group-item{
      display:flex;
      justify-content:space-between;
      background-color:rgba(0,0,0,0.2);
      .done{
        background-color:#008000;
      }

      i{
        color:#fff;
      }
      .edit-delete{
        i{
          padding: 0 10px;
        }
      }

    }
  }
}
.col{
    margin: 20px;
}

.list-container{
    margin-top:20px;
}
.list-container header {
    border-bottom: black solid 2px;
    background: lightgrey;
}


